<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
  <div class="container">
    <a class="navbar-brand brand-text" href="index.html">
      <i class="fa fa-bus me-2"></i>RoBhi Bus
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navMenu">
      @if(!this.isLoggedIn){
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><button class="btn btn-outline-primary ms-2" (click)="login()">Login</button></li>
      </ul>
    }@else{
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><button class="btn btn-outline-danger ms-2" (click)="logout()">Logout</button></li>
      </ul>
    }
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="bg-dark text-white py-4">
  <div class="container text-center">
    <p>&copy; 2025 RoBhi Bus | Designed with ❤️</p>
  </div>
</footer>